@import url("../libs/normalize.css");

@import url("./header.css");
@import url("./table.css");
@import url("./form.css");

:root {
    --theme-color: #05927d;
}

h1, h2, h3, h4, h5, h6, ul, li {
    margin: 0 !important;
}

section {
    text-align: center;
}

footer {
    position: fixed;
    left: 15px;
    bottom: 0;
    width: 100%;
}

.delete:hover {
    color: rgb(190, 33, 33);
}

.delete, .reset {
    background: transparent;
    border: none;
}

.reset {
    margin-bottom: 2em;
}

.reset:hover {
    text-decoration: underline;
}

.error {
    color: rgb(190, 33, 33);
}